.wrapper {
  margin-right: 200px;
  margin-left: 200px;
}

.content {
  float: left;
  width: 60%;
  background-color: #CCF;
}

.sidebar {
  float: right;
  width: 40%;
  background-color: white;
}

.cleared {
  clear: both;
}

.container{
  float: center;
  padding-left: 50px;
  padding-top: 10px;
}

button{
  width: 60px;
  padding: 2px 2px 2px 2px;
}

.action-header {
  float: center;
  padding-left: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.board{
  padding: 20px;
}

#simple-board, td {
  align-content: center;
  background-color: white;
  font-color: white;
  border: 1px solid black;
}

#base td{
  border: none;
}

.button-action {
  padding: 20px 20px 20px 20px;
}

img{
  padding-left: 6px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
